*
{
	margi:0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #0f1624;
	user-select: none;
}
.center
{
	position: relative;
	width: 500px;
	padding: 50px;
	background: #141e30;
	border-radius: 6px;
}
header
{
	color: #b7c6e1;
	font-size: 30px;
	margin-bottom: 50px;
}
.inpupt-field
{
	height: 60px;
	width: 100%;
	position: relative;
	font-family: sans-serif;
}
input.email
{
	position: absolute;
	display: block;
	height: 100%;
	width:100%;
	z-index: 1;
	font-size: 22px;
	color: #edf1f7;
	background: #1e2d48;
	border: none;
	outline: none;
	border-radius: 6px;
	padding: 20px 0 0 20px;
}
